mixin description(subtitle, ...texts)
	+e.paragraph 
		+e.SPAN.subtitle!= subtitle
		each text in texts
			p!= text

mixin team-more(i, h, s)
	+b.team-more 
		+e.header 
			+pic(`doctor-img-${i}.jpg`)
			h5!= h
			span!= s
		+e.body
			block

mixin modal() 
	//  start modals
	div(id="modal-team" style="display: none")
		+b.modal-win
			+team-more(1, "Маркарьян Даниил", "Онколог")
				+description("Специальность", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+description("Стаж", "15&nbsp;лет")
				+description("Направление деятельности", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+description("Опыт и&nbsp;время работы", "2006&nbsp;&mdash; 2009 Областная клиническая больница &#8470;&nbsp;2 , Врач хирургического отделения, Ростов-на Дону, Россия", "2012&nbsp;&mdash; 2013 Российский Научный Центр Хирургии&nbsp;им. акад. Б.В. Петровского РАМН, Врач-хирург отделение колопроктологии с&nbsp;хирургией тазового дна, Москва, Россия", "2013&nbsp;&mdash; н.в. Первый Московский Государственный Медицинский Университет им. И.М. Сеченова Минздрава России, врач-колопроктолог, Клиника колопроктологии и&nbsp;малоинвазивной хирургии, Москва, Россия", "2014&nbsp;&mdash; н.в. Первый Московский Государственный Медицинский Университет им. И.М. Сеченова Минздрава России, доцент Кафедры колопроктологии и&nbsp;эндоскопической хирургии, Москва, Россия")
				+description("Дополнительные сведения", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+e.galery
					+e.SPAN.subtitle Сертификаты и лицензии
					.row 
						mixin certificate(n)
							.col-6.col-sm-3
								+e.link(href=`img/certificate-${n}.jpg`, data-fancybox="team-sertificates")
									+pic(`certificate-small-${n}.jpg`, 'bg', 0)
									span 
										+icon("zoom")
						+certificate(1)
						+certificate(1)
						+certificate(1)
						+certificate(1)
	// #modal-team

	div(id="modal-team-consult" style="display: none")
		+b.modal-win
			+team-more(1, "Маркарьян Даниил", "Онколог")
				+description("Специальность", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+description("Стаж", "15&nbsp;лет")
				+description("Направление деятельности", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+description("Опыт и&nbsp;время работы", "2006&nbsp;&mdash; 2009 Областная клиническая больница &#8470;&nbsp;2 , Врач хирургического отделения, Ростов-на Дону, Россия", "2012&nbsp;&mdash; 2013 Российский Научный Центр Хирургии&nbsp;им. акад. Б.В. Петровского РАМН, Врач-хирург отделение колопроктологии с&nbsp;хирургией тазового дна, Москва, Россия", "2013&nbsp;&mdash; н.в. Первый Московский Государственный Медицинский Университет им. И.М. Сеченова Минздрава России, врач-колопроктолог, Клиника колопроктологии и&nbsp;малоинвазивной хирургии, Москва, Россия", "2014&nbsp;&mdash; н.в. Первый Московский Государственный Медицинский Университет им. И.М. Сеченова Минздрава России, доцент Кафедры колопроктологии и&nbsp;эндоскопической хирургии, Москва, Россия")
				+description("Дополнительные сведения", "Кандидат медицинских наук. колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ")
				+b.pricing-block
					.row
						+e.col.col-auto
							+e.num 900
								span ₽
							span /час
						.col-auto
							+e.btn(href=`#modal-consult`).link-modal-js Записаться
					+e.agreement
						span Нажимая кнопку &laquo;Записаться&raquo;, вы&nbsp;принимаете условия 
						a(href="#") Пользовательского соглашения
				//- +footer
	// #modal-team-consult

	div(id="modal-consult" style="display: none")
		+b.modal-win
			+form-wrap
				h3 Запись на консультацию
				//- +input("Владимир Воротников", "select", "Специалисты")
				+custom-select(`Специалисты`)
					+option(`Эмиль Исагулян`, 1, `врач акушер-гинеколог`)
					+option(`Владимир Воротников`, 2, `врач гинеколог`)
					+option(`Игорь Орлов`, 3, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)

				+input("Опишите кратко суть вопроса", "textarea", "Опишите кратко суть вопроса")
				+input("+7 (___) __ __", "tel", "Телефон")
				+e.input-wrap.form-group
					+e.SPAN.input-title Дата и время приёма #[span.text-gray-medium *]
					+e.row-date.row
						.col-auto
							+in-c("radio", "Сегодня", "date" )(checked)
						.col-auto
							+in-c("radio", "Завтра", "date" )
						.col-auto
							+e.INPUT.input.form-control.input-date-picker-single-js(name='text' type='text' placeholder='Все даты' autocomplete='off')
				+e.input-wrap.form-group
					+e.row-time.row
						.col-auto
							+in-c("radio", "10:00", "time" )
						.col-auto
							+in-c("radio", "11:00", "time" )
						.col-auto
							+in-c("radio", "12:00", "time" )
						.col-auto
							+in-c("radio", "13:00", "time" )(disabled)
						.col-auto
							+in-c("radio", "15:00", "time" )
						.col-auto
							+in-c("radio", "16:00", "time" )
				+b.pricing-block
					.row
						+e.col.col-auto
							+e.num 900
								span ₽
							span /час
						.col-auto
							+e.BUTTON.btn Записаться
					+e.agreement
						span Нажимая кнопку &laquo;Записаться&raquo;, вы&nbsp;принимаете условия 
						a(href="#") Пользовательского соглашения
				//- +footer
	// #modal-consult

	div(id="modal-consult-auth" style="display: none")
		+b.modal-win
			+form-wrap
				+e.heading
					h3 Запись на консультацию
					p Если у&nbsp;вас уже есть учетная запись, #[a(href="#") авторизуйтесь.] Если вы&nbsp;еще не&nbsp;регистрировались, то&nbsp;заполните форму ниже
				//- +input("Владимир Воротников", "select", "Специалисты")
				+custom-select(`Специалисты`)
					+option(`Эмиль Исагулян`, 1, `врач акушер-гинеколог`)
					+option(`Владимир Воротников`, 2, `врач гинеколог`)
					+option(`Игорь Орлов`, 3, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)

				+input("Опишите кратко суть вопроса", "textarea", "Опишите кратко суть вопроса")
				+e.input-wrap.form-group
					+e.SPAN.input-title Дата и время приёма #[span.text-gray-medium *]
					+e.row-date.row
						.col-auto
							+in-c("radio", "Сегодня", "date" )(checked)
						.col-auto
							+in-c("radio", "Завтра", "date" )
						.col-auto
							+e.INPUT.input.form-control.input-date-picker-single-js(name='text' type='text' placeholder='Все даты' autocomplete='off')
				+e.input-wrap.form-group
					+e.row-time.row
						.col-auto
							+in-c("radio", "10:00", "time" )
						.col-auto
							+in-c("radio", "11:00", "time" )
						.col-auto
							+in-c("radio", "12:00", "time" )
						.col-auto
							+in-c("radio", "13:00", "time" )(disabled)
						.col-auto
							+in-c("radio", "15:00", "time" )
						.col-auto
							+in-c("radio", "16:00", "time" )
				+input("Имя", "text", "Имя")
				+input("Электронная почта", "email", "Электронная почта")
				+input("+7 (___) __ __", "tel", "Телефон")
				+e.SPAN.input-title Пароль
					+help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Пароль", "password")
				+e.SPAN.input-title Подтвердите пароль
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Подтвердите пароль", "password")
				+b.pricing-block
					.row
						+e.col.col-auto
							+e.num 900
								span ₽
							span /час
						.col-auto
							+e.BUTTON.btn Записаться
					+e.agreement
						span Нажимая кнопку &laquo;Записаться&raquo;, вы&nbsp;принимаете условия 
						a(href="#") Пользовательского соглашения
				//- +footer
	// #modal-consult-auth

	div(id="modal-question" style="display: none")
		+b.modal-win
			+form-wrap
				h3 Задать вопрос
				+input("Выберите направление", "select", "Направления")
				//- +input("Выберите специалиста", "select", "Специалисты")
				+custom-select(`Специалисты`)
					+option(`Эмиль Исагулян`, 1, `врач акушер-гинеколог`)
					+option(`Владимир Воротников`, 2, `врач гинеколог`)
					+option(`Игорь Орлов`, 3, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)

				+input("Опишите кратко суть вопроса", "textarea", "Вопрос")
				+e.input-wrap.form-group
					+in-c("checkbox", "Анонимно")
				+e.BUTTON.btn.btn.btn-primary Задать вопрос
				//- +footer
	// #modal-question

	div(id="modal-question-auth" style="display: none")
		+b.modal-win
			+form-wrap
				+e.heading
					h3 Задать вопрос
					p Если у&nbsp;вас уже есть учетная запись, #[a(href="#") авторизуйтесь.] Если вы&nbsp;еще не&nbsp;регистрировались, то&nbsp;заполните форму ниже
				+input("Выберите направление", "select", "Направления")
				//- +input("Выберите специалиста", "select", "Специалисты")
				+custom-select(`Специалисты`)
					+option(`Эмиль Исагулян`, 1, `врач акушер-гинеколог`)
					+option(`Владимир Воротников`, 2, `врач гинеколог`)
					+option(`Игорь Орлов`, 3, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)
					+option(`Татьяна Коваль`, 4, `врач акушер-гинеколог`)
					+option(`Мария Бондарева`, 5, `врач гинеколог`)

				+input("Опишите кратко суть вопроса", "textarea", "Вопрос")
				+input("Имя", "text", "Имя")
				+input("Электронная почта", "email", "Электронная почта")
				+input("+7 (___) __ __", "tel", "Телефон")
				+e.SPAN.input-title Пароль
					+help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Пароль", "password")
				+e.SPAN.input-title Подтвердите пароль
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Подтвердите пароль", "password")
				+e.input-wrap.form-group
					+in-c("checkbox", "Анонимно")
				+e.BUTTON.btn.btn.btn-primary Задать вопрос
				+e.agreement
						span Нажимая кнопку &laquo;Записаться&raquo;, вы&nbsp;принимаете условия 
						a(href="#") Пользовательского соглашения
				//- +footer
	// #modal-question-auth

	div(id="modal-cancel-appointment" style="display: none")
		+b.modal-win
			+b.modal-cancel
				h5 Вы&nbsp;уверены, что хотите отменить запись?
				.row
					.col-6
						button.btn.btn-outline-primary Нет
					.col-6
						button.btn.btn-primary Да
			//- +footer
	// #modal-cancel-appointment
	
	div(id="modal-delete-profile" style="display: none")
		+b.modal-win
			+b.modal-cancel
				h5 Данное действие будет невозможно отменить. Вы&nbsp;уверены, что хотите удалить свой профиль?
				.row
					.col-6
						.btn.btn-outline-primary(href=`#modal-miss-you`).link-modal-js Удалить
					.col-6
						button.btn.btn-primary Отмена
			//- +footer
	// #modal-delete-profile

	div(id="modal-miss-you" style="display: none")
		+b.modal-win
			+b.modal-cancel
				h5 Нам будет вас очень не&nbsp;хватать. Желаем вам всего наилучшего
				button.btn.btn-primary До новых встреч
			//- +footer
	// #modal-miss-you

	div(id="modal-client-consult" style="display: none")
		+b.modal-win--consult
			+b.modal-consult
				+e.content
					h4 25&nbsp;сентября 18:00
					+e.subtitle 18:00-19:00 Онлайн-консультация
					p #[span Имя]Анастасия
					p #[span Телефон]8 904 362 53 26
					p #[span Тема приёма]Проктология
					p #[span Комментарий]Мой врач в&nbsp;отпуске, на&nbsp;очную консультацию попаду через 2&nbsp;недели. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго.
					p #[span Ссылка на&nbsp;трансляцию]
					//- +e.info Специалист добавит ссылку на&nbsp;конференцию в&nbsp;Zoom чуть позднее, ближе ко&nbsp;времени консультации
					a.btn-next(href="#") Перейти к консультации
						+icon('shevron-right-sm')
				+e.footer
					button.btn Отменить запись
			//- +footer
	// #modal-client-consult

	div(id="modal-client-consult-2" style="display: none")
		+b.modal-win--consult
			+b.modal-consult
				+e.content
					h4 25&nbsp;сентября 18:00
					+e.subtitle 18:00-19:00 Онлайн-консультация
					p #[span Имя]Анастасия
					p #[span Телефон]8 904 362 53 26
					p #[span Тема приёма]Проктология
					p #[span Комментарий]Мой врач в&nbsp;отпуске, на&nbsp;очную консультацию попаду через 2&nbsp;недели. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго.
					p #[span Ссылка на&nbsp;трансляцию]
					+e.info Специалист добавит ссылку на&nbsp;конференцию в&nbsp;Zoom чуть позднее, ближе ко&nbsp;времени консультации
					//- a.btn-next(href="#") Перейти к консультации
					//- 	+icon('shevron-right-sm')
				+e.footer
					button.btn Отменить запись
			//- +footer
	// #modal-client-consult-2

	div(id="modal-doctor-consult" style="display: none")
		+b.modal-win--consult
			+b.modal-consult
				+e.content
					h4 8&nbsp;сентября 9:00
					+e.subtitle 11:30-12:30 Онлайн-консультация
					p #[span Имя]Анастасия
					p #[span Телефон]8 904 362 53 26
					//- p #[span Тема приёма]Проктология
					p #[span Комментарий]Мой врач в&nbsp;отпуске, на&nbsp;очную консультацию попаду через 2&nbsp;недели.
					p #[span Ссылка на&nbsp;трансляцию]
					//- +e.info Специалист добавит ссылку на&nbsp;конференцию в&nbsp;Zoom чуть позднее, ближе ко&nbsp;времени консультации
					//- a.btn-next(href="#") Перейти к консультации
					//- 	+icon('shevron-right-sm')
					+input("Ссылка на трансляцию", "text")
						button Сохранить
				+e.footer
					button.btn Отменить запись
			//- +footer
	// #modal-doctor-consult

	div(id="modal-doctor-consult-2" style="display: none")
		+b.modal-win--consult
			+b.modal-consult
				+e.content
					h4 8&nbsp;сентября 9:00
					+e.subtitle 11:30-12:30 Курс &laquo;С&nbsp;заботой о&nbsp;спине&raquo;
					//- p #[span Имя]Анастасия
					//- p #[span Телефон]8 904 362 53 26
					//- p #[span Тема приёма]Проктология
					//- p #[span Комментарий]Мой врач в&nbsp;отпуске, на&nbsp;очную консультацию попаду через 2&nbsp;недели.
					p #[span Ссылка на&nbsp;трансляцию]
					//- +e.info Специалист добавит ссылку на&nbsp;конференцию в&nbsp;Zoom чуть позднее, ближе ко&nbsp;времени консультации
					//- a.btn-next(href="#") Перейти к консультации
					//- 	+icon('shevron-right-sm')
					+input("Ссылка на трансляцию", "text")
						button Сохранить
				+e.footer
					button.btn Отменить запись
			//- +footer
	// #modal-doctor-consult-2

	// end modals