mixin articleTable(th1, th2, th3, th4)
	table.table.table-hover
		thead
			tr
				th(scope='col')!= th1
				th(scope='col')!= th2
				th(scope='col')!= th3
				th(scope='col')!= th4
		tbody
			block

mixin articleTableContent(thead, td1, td2, td3)
	tr
		th(scope='row')!= thead
		td!= td1
		td!= td2
		td!= td3

mixin sArticleTable(h6)
	// start sArticleTable
	+b.SECTION.sArticleTable.section#sArticleTable&attributes(attributes)
		.container
			.row 
				.col.col-lg-8 
					h6!= h6
					+articleTable('Maecenas', 'Phasellus', 'Gravida', 'Integer')
						+articleTableContent('Nullam', 'Tincidunt', 'Tincidunt', 'Dapibus')
						+articleTableContent('Luctus', 'Mauris', 'Felis', 'Aenean')
						+articleTableContent('Dignissim', 'Vestibulum', 'Fusce', 'Donec')

	// end sArticleTable