mixin sArticleBodyIntoduction(h2, text, firstPoint, secondPoint, firstSubPoint, secondSubPoint, thirdPoint, img, desc)
	// start sArticleBodyIntoduction
	+b.SECTION.sArticleBodyIntoduction.section#sArticleBodyIntoduction&attributes(attributes)
		.container
			.row 
				.col.col-lg-8
					+b.article-body-introduction
						h2!= h2
						p!= text
						ul 
							li!= firstPoint
							li!= secondPoint
								+e.UL.sublist
									li!= firstSubPoint
									li!= secondSubPoint
							li!= thirdPoint
			.row 
				.col.col-lg-9
					+pic(`articleBodyIntoductionBg-${img}.jpg`)
					span!= desc
	// end sArticleBodyIntoduction