mixin articelCite(h5, name, post)
	+b.BLOCKQUOTE.articleCite 
		h5!= h5
		cite!= name
			span!= post

mixin sArticleParagraph(h3, text)
	// start sArticleParagraph
	+b.SECTION.sArticleParagraph.section#sArticleParagraph&attributes(attributes)
		.container
			.row 
				.col.col-lg-8
					h3!= h3
					p!= text
					block

	// end sArticleParagraph