mixin sArticleBodyText(h4, h5, text, li1, li2, subLi1, subLi2, li3)
	// start sArticleBodyText
	+b.SECTION.sArticleBodyText.section#sArticleBodyText&attributes(attributes)
		.container
			.row 
				.col.col-lg-8
					h4!= h4
					h5!= h5
					p!= text
					+e.list
						ol
							li!= li1
							li!= li2
								+e.OL.numberSublist
									li!= subLi1
									li!= subLi2
							li!= li3
	// end sArticleBodyText