mixin publicChatItem(unread, pic, name, status, date, topic, text)
	+e.item&attributes(attributes)
		.row.g-2
			.col-auto
				+pic(`sTeam-${pic}.jpg`)
			.col
				.row.g-0
					.col
						+e.message-name
							span!= name
							br
							span!= status
					+e.time.col-auto!= date
					+e.message-text
						span!= topic
						if unread
							p.unread!= text
						else
							p!= text

mixin publicChatItem2(unread, pic, name, date, text)
	+e.item&attributes(attributes)
		.row.g-2
			.col-auto
				+pic(`sTeam-${pic}.jpg`)
			.col
				.row.g-0
					.col
						+e.message-name
							+e.SPAN.doctor!= name
					+e.time.col-auto!= date
					+e.message-text
						if unread
							p.unread!= text
						else
							p!= text

mixin chatMessage(text, time)
	+e.message&attributes(attributes)
		+e.text-wrraper
			p!= text
		span!= time

mixin sUserChat(data)
	// start sUserChat
	+b.sUserChat.section#sUserChat&attributes(attributes)
		.container
			p Здесь хранятся ваши вопросы, заданные специалистам, и&nbsp;ответы на&nbsp;них
			+e.btn.btn.btn-primary(href="#" data-src=`#modal-question` data-fancybox="modal") Задать вопрос
			+b.profileChat.row.g-0
				+e.col-users.col-12.col-md-auto
					+b.public-chat.d-flex.flex-column
						+e.pinned
							+e.messages.scroll
								+publicChatItem('', '2', 'Даниил Маркарьян', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...').active
								+publicChatItem('unread', '3', 'Татьяна Коваль', 'врач гинеколог', '12 ноя', 'Гинекология', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem('unread', '6', 'Татьяна Гарманова', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '5', 'Игорь Орлов', 'врач онколог', '15 ноя', 'Онкология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '4', 'Никита Михалков', 'врач акушер-гинеколог', '10 сен', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '8', 'Светлана Юрьева', 'врач гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '2', 'Даниил Маркарьян', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '3', 'Татьяна Коваль', 'врач гинеколог', '12 ноя', 'Гинекология', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem('unread', '6', 'Татьяна Гарманова', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '5', 'Игорь Орлов', 'врач онколог', '15 ноя', 'Онкология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('unread', '4', 'Никита Михалков', 'врач акушер-гинеколог', '10 сен', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '8', 'Светлана Юрьева', 'врач гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
				.col 
					+b.public-messenger
						+e.BUTTON.back
							+icon('chevron-left-sm')
							+pic(`sUserConsult-1.jpg`)
							+e.message-name
								span Даниил Маркарьян
								br
								span врач акушер-гинеколог
						+e.messages.scroll
							+chatMessage('Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(', '12 ноября 14:50')
							+chatMessage('Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo; И&nbsp;при этом&nbsp;НЕ было пропусков и&nbsp;нарушений в&nbsp;схеме приема, не&nbsp;принимали антибиотики и&nbsp;другие курсовые препараты, то&nbsp;это как правило говорит о&nbsp;том, что препарат не&nbsp;подходит Вам ( гормоны и&nbsp;их&nbsp;дозировка в&nbsp;препарате).', '12 ноября 15:07').--left
							+chatMessage('Не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго.', '12 ноября 17:01')
						+form-wrap()
							+pic('sTeam-1.jpg')
							+input("Напишите сообщение", "text")
								button
									+icon('send')

	// end sUserChat

mixin sUserChat2(data)
	// start sUserChat
	+b.sUserChat.section#sUserChat&attributes(attributes)
		.container
			p Здесь хранятся ваши вопросы, заданные специалистам, и&nbsp;ответы на&nbsp;них
			+e.btn.btn.btn-primary(href="#" data-src=`#modal-question` data-fancybox="modal") Задать вопрос
			+b.profileChat.row.g-0
				+e.col-users.col-auto
					+b.public-chat.d-flex.flex-column
						+e.pinned
							+e.messages.scroll
								+publicChatItem('', '2', 'Даниил Маркарьян', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...').active
								+publicChatItem('unread', '3', 'Татьяна Коваль', 'врач гинеколог', '12 ноя', 'Гинекология', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem('unread', '6', 'Татьяна Гарманова', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '5', 'Игорь Орлов', 'врач онколог', '15 ноя', 'Онкология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '4', 'Никита Михалков', 'врач акушер-гинеколог', '10 сен', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '8', 'Светлана Юрьева', 'врач гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '2', 'Даниил Маркарьян', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '3', 'Татьяна Коваль', 'врач гинеколог', '12 ноя', 'Гинекология', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem('unread', '6', 'Татьяна Гарманова', 'врач акушер-гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '5', 'Игорь Орлов', 'врач онколог', '15 ноя', 'Онкология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('unread', '4', 'Никита Михалков', 'врач акушер-гинеколог', '10 сен', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem('', '8', 'Светлана Юрьева', 'врач гинеколог', '12 ноя', 'Гинекология', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
				.col 
					+b.public-messenger
						+e.messages.scroll
							+chatMessage('Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(', '12 ноября 14:50').--deny
						+e.P.reason Ваш вопрос отклонен по причине: содержание ненормативной лексики
						+form-wrap()
							+pic('sTeam-1.jpg')
							+input("Напишите сообщение", "text")
								button
									+icon('send')

mixin sUserChat3(data)
	// start sUserChat
	+b.sUserChat.section#sUserChat&attributes(attributes)
		.container
			p Здесь хранятся ваши вопросы, заданные специалистам, и&nbsp;ответы на&nbsp;них
			+e.btn.btn.btn-primary(href="#" data-src=`#modal-question` data-fancybox="modal") Задать вопрос

mixin sUserChat4(data)
	// start sUserChat
	+b.sUserChat.section#sUserChat&attributes(attributes)
		.container
			+b.profileChat.row.g-0
				+e.col-users.col-auto
					+b.public-chat.d-flex.flex-column
						+e.pinned
							+e.messages.scroll
								+publicChatItem2('', '6', 'Анастасия Попова', '12 ноя', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('unread', '3', 'Татьяна Коваль', '12 ноя', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem2('unread', '6', 'Анастасия Грикевич', '12 ноя', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('', '5', 'Игорь Орлов', '15 сен', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('', '6', 'Анастасия Попова', '12 ноя', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('unread', '3', 'Татьяна Коваль', '12 ноя', 'Руки иннервируются шейным отделом позвоночника. Для...')
								+publicChatItem2('unread', '6', 'Анастасия Грикевич', '12 ноя', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('', '5', 'Игорь Орлов', '15 сен', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('unread', '6', 'Анастасия Грикевич', '12 ноя', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
								+publicChatItem2('', '5', 'Игорь Орлов', '15 сен', 'Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo;...')
				.col 
					+b.public-messenger
						+e.BUTTON.back
							+icon('chevron-left-sm')
							+pic(`sUserConsult-2.jpg`)
							+e.message-name
								span Анастасия Попова
						+e.messages.scroll
							+chatMessage('Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(', '12 ноября 14:50')
							+chatMessage('Если&nbsp;же далее&nbsp;Вы замечаете выделения &laquo;не&nbsp;по&nbsp;плану&raquo; И&nbsp;при этом&nbsp;НЕ было пропусков и&nbsp;нарушений в&nbsp;схеме приема, не&nbsp;принимали антибиотики и&nbsp;другие курсовые препараты, то&nbsp;это как правило говорит о&nbsp;том, что препарат не&nbsp;подходит Вам ( гормоны и&nbsp;их&nbsp;дозировка в&nbsp;препарате).', '12 ноября 15:07').--left
							+chatMessage('Не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго.', '12 ноября 17:01')
						+form-wrap()
							+pic('sTeam-2.jpg')
							+input("Напишите сообщение", "text")
								button
									+icon('send')