include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin searchForm(d, formText)
	+b.FORM.searchForm 
		+input("Поиск")
		if d
			+e.P.formText!= formText
		button 
			if d 
				+icon('close')
			else 
				+icon('search')

//- mixin searchForm2(d, formText)
//- 	+b.FORM.searchForm 
//- 		+input("Поиск")
//- 		if d
//- 			+e.P.text--hasFound!= formText
//- 		button 
//- 			if d 
//- 				+icon('close')
//- 			else 
//- 				+icon('search')

mixin pageHead(data)
	+b.page-head&attributes(attributes)
		.container
			+e.content
				if data.bread 
					+breadcrumb()
				+e.title
					if data.label 
						+e.label!= data.label
					if data.t
						h1!= data.t
					if data.t2
						h2!= data.t2
					if data.p
						p!= data.p
					block
				if data.btn
					+e.btn(href="#")= data.btn
				if data.img
					+pic(data.img)
				if data.search
					+searchForm(data.d, data.formText)
				if data.course 
					+e.mobileWrraper
						if data.p2
							p!= data.p2
						.row
							+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
							+infoblock('Длительность', '12 занятий')
							+infoblock('Формат проведения', 'Онлайн')
						if data.who
							+e.who
								+pic(`sTeam-1.jpg`)
								+e.text
									p Анна Грикевич
									p Специалист по функциональному движению и восстановлению мышц тазового дна
						+pricing3('900', '1800', '#modal-consult', 'Купить курс')

mixin pageHead-about(data)
	+b.page-head--about&attributes(attributes)
		.container
			+e.content
				+e.title
					h1!= data.t
					if data.p
						p!= data.p
				if data.img
					+e.img-wrap
						+pic(data.img)
						block




mixin pricing(n, l)
	+b.pricing-block
		.row
			+e.col.col.col-sm-auto
				+e.num= n
					span ₽
				span /час
			.col-auto
				+e.btn(href="#" data-src=`${l}` data-fancybox="modal") Записаться
		block

mixin pricing2(n, l, btn)
	+b.pricing-block
		.row
			+e.col.col.col-sm-auto
				+e.num= n
					span ₽
			.col-12.col-sm-auto
				+e.btn(href=`${l}`)!= btn
		block

mixin pricing3(n, s, l, btn)
	+b.pricing-block
		.row
			+e.col.col.col-sm-auto
				+e.num= n
					span ₽
				+e.sale= s
					span ₽
			.col-12.col-md-auto
				+e.btn(href=`${l}`)!= btn
		block

mixin pricing4(l, btn)
	+b.pricing-block
		.row
			.col-12
				+e.btn--lk(href=`${l}`)!= btn
		block

mixin help-tooltip(t)
	+b.SPAN.help-tooltip
		+icon('help')
		span!= t

mixin link-back(t, l)
	+b.link-back(href=`${l}`)
		+icon('chevron-left-sm')
		span!= t

mixin course(s, h, text, i, p, bg, btn, ...texts)
	+b.courseWrrpaer&attributes(attributes)
		+e.bookmark(href="#")
				+icon(`bookmarkActive`)
		if s
			+e.SPAN.label!= s
		+e.content
			h5!= h
			p!= text
			.row
				block
			+e.who
				+pic(`sTeam-${i}.jpg`)
				+e.text
					each text in texts 
						p!= text
			+pricing2(p, '#modal-consult', btn)
		+pic(`courseImg-${bg}.jpg`)

mixin course2(s, h, text, i, p, bg, btn, ...texts)
	+b.courseWrrpaer&attributes(attributes)
		+e.bookmark(href="#")
				+icon(`bookmarkActive`)
		if s
			+e.SPAN.label--lk!= s
		+e.content
			h5!= h
			p!= text
			.row
				block
			+e.who
				+pic(`sTeam-${i}.jpg`)
				+e.text
					each text in texts 
						p!= text
			+pricing4('#modal-consult', 'Пройти курс')
		+pic(`courseImg-${bg}.jpg`)

mixin infoblock(infoTitle, infoText)
	.col-12.col-lg-auto
		+e.infoBlock 
			span!= infoTitle
			span!= infoText

mixin courseItem(will, t, ...texts)
	if will
		+b.courseItem
			+e.check
				+icon('check')
			h6!= t
			each text in texts
				p!= text
	else
		+b.courseItem--get
			+e.check
				+icon('check')
			h6!= t

mixin cabinet-body(h)
	.container-fluid.container--main
		.row.row--main
			.col-auto.col--aside
				+aside-menu
			.col.col--main
				.cabinet-head.text-center
					h1!= h
				block

mixin aside-menu()
	+b.cabinet-menu
		ul
			+cab-menu-item(`Мой профиль`).current
			+cab-menu-item(`Мой тариф`)
			+cab-menu-item(`Доступные материалы`).new
			+cab-menu-item(`Избранное`)
			+cab-menu-item(`Мои вопросы`).new
			+cab-menu-item(`Консультации с врачом`).new
		block



mixin cab-menu-item(t)
	li
		a(href="#")&attributes(attributes)!= t
			span

mixin courseItem2(will, ...texts)
		+b.courseItem--get
			+e.check
				+icon('check')
			each text in texts
				h6!= text

mixin favoriteTabs()
	+b.favoriteTabs
		+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					block

mixin favoritetabsItem(active, text)
	+e.slide.swiper-slide
		if active
			+e.item--active
				a(href="#")!= text
		else 
			+e.item
				a(href="#")!= text

mixin nothingNow(text, btn)
	+b.nothingNow
		p!= text
		button(type="button")!= btn

mixin changePhoto()
	+e.avatar 
		+pic('sTeam-1.jpg')
		a(href="#")
			+icon('close')