include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin searchForm(d, formText)
	+b.FORM.searchForm 
		+input("Поиск")
		if d
			+e.P.formText!= formText
		button 
			if d 
				+icon('close')
			else 
				+icon('search')

//- mixin searchForm2(d, formText)
//- 	+b.FORM.searchForm 
//- 		+input("Поиск")
//- 		if d
//- 			+e.P.text--hasFound!= formText
//- 		button 
//- 			if d 
//- 				+icon('close')
//- 			else 
//- 				+icon('search')

mixin pageHead(data)
	+b.page-head&attributes(attributes)
		.container
			+e.content
				+e.title
					h1!= data.t
					if data.p
						p!= data.p
					block
				if data.btn
					+e.btn(href="#")= data.btn
				if data.img
					+pic(data.img)
				if data.search
					+searchForm(data.d, data.formText)



mixin pricing(n, l)
	+b.pricing-block
		.row
			+e.col.col.col-sm-auto
				+e.num= n
					span ₽
				span /час
			.col-auto
				+e.btn(href=`${l}`).link-modal-js Записаться
		block

mixin pricing2(n, l, btn)
	+b.pricing-block
		.row
			+e.col.col.col-sm-auto
				+e.num= n
					span ₽
			.col-auto
				+e.btn(href=`${l}`)!= btn
		block

mixin help-tooltip(t)
	+b.SPAN.help-tooltip
		+icon('help')
		span!= t

mixin link-back(t, l)
	+b.link-back(href=`${l}`)
		+icon('chevron-left-sm')
		span!= t

mixin course(s, h, text, i, p, bg, btn, ...texts)
	+b.courseWrrpaer&attributes(attributes)
		+e.bookmark(href="#")
				+icon(`bookmarkActive`)
		if s
			+e.SPAN.label!= s
		+e.content
			h5!= h
			p!= text
			.row
				block
			+e.who
				+pic(`sTeam-${i}.jpg`)
				+e.text
					each text in texts 
						p!= text
			+pricing2(p, '#modal-consult', btn)
		+pic(`courseImg-${bg}.jpg`)

mixin infoblock(infoTitle, infoText)
	.col-12.col-lg-auto
		+e.infoBlock 
			span!= infoTitle
			span!= infoText