mixin team-item(i, d, n, s, l, ...items)
	+e.item
		+pic(`sTeam-${i}.jpg`)
		+e.heading
			span!= d
			h5
				span!= n
				span!= s
		each item in items
			p!= item
		+e.btn(href="#" data-src=`#${l}` data-fancybox="modal")
			+icon('popup')
			span Подробнее
		block
	
mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда BLOOM
			+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					+e.slide.swiper-slide
						+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+e.slide.swiper-slide
						+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+e.slide.swiper-slide
						+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
					+e.slide.swiper-slide
						+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+e.slide.swiper-slide
						+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+e.slide.swiper-slide
						+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)

	// end sTeam


mixin sTeam5(data)
	// start sTeam
	+b.sTeam--page.section#sTeam&attributes(attributes)
		.container 
			.row
				+e.col.col-md-6
					+team-item(1, `Тренер`, `Анна`, `Грикевич`, `modal-team-consult`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна. <br> Стаж работы 15&nbsp;лет`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
						+pricing('9000', '#modal-consult')
						
				+e.col.col-md-6
					+team-item(2, `Онколог`, `Даниил`, `Маркарьян`, `modal-team-consult`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. <br> Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
						+pricing('900', '#modal-consult')

				+e.col.col-md-6
					+team-item(3, `Акушер-гинеколог`, `Татьяна`, `Коваль`, `modal-team-consult`, `Врач акушер-гинеколог, врач ультразвуковой диагностики. <br> Стаж работы 7&nbsp;лет`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
						+pricing('900', '#modal-consult')

				+e.col.col-md-6
					+team-item(4, `Нейрохирург`, `Эмиль`, `Исагулян`, `modal-team-consult`, `Нейрохирург&nbsp;&mdash; алголог (специалист по&nbsp;лечению хронических болевых синдромов). <br> Стаж работы 10&nbsp;лет`, `Специалист по&nbsp;лечению хронических болевых синдромов`)
						+pricing('9000', '#modal-consult')
						
				+e.col.col-md-6
					+team-item(5, `Онколог`, `Владимир`, `Воротников`, `modal-team-consult`, `Онколог, хирург-онколог, маммолог-онколог. Кандидат медицинских наук. <br> Стаж работы 13&nbsp;лет`, `Специализируется на&nbsp;диагностике и&nbsp;лечении рака молочной железы, диагностике и&nbsp;косметическое лечение доброкачественных заболеваний, реконструктивно-пластическая хирургия молочной железы`)
						+pricing('900', '#modal-consult')
						
				+e.col.col-md-6
					+team-item(6, `Уролог`, `Татьяна`, `Гарманова`, `modal-team-consult`, `Кандидат медицинских наук. колопроктолог, онколог, хирург, уролог. <br> Стаж работы 14&nbsp;лет`, `Проводит диагностику и&nbsp;лечение геморроя, анальных трещин, анального зуда, выпадения прямой кишки, ректоцеле, парапроктита и&nbsp;других заболеваний прямой кишки, анального канала и&nbsp;промежности.`)
						+pricing('9000', '#modal-consult')
						
				+e.col.col-md-6
					+team-item(7, `Уролог-онколог`, `Игорь`, `Орлов`, `modal-team-consult`, `Уролог-онколог, кандидат медицинских наук. <br> Стаж работы 12&nbsp;лет`, `Заведующий урологическим отделением СПб ГБУЗ Клинической Больницы Святителя Луки.`)
						+pricing('900', '#modal-consult')
						
				+e.col.col-md-6
					+team-item(8, `Невролог`, `Мария`, `Бондарева`, `modal-team-consult`, `Врач-невролог, младший научный сотрудник отделения хирургии нервных и&nbsp;психических заболеваний. <br> Стаж работы 12&nbsp;лет`, `Действующий член международного общества нейромодуляции (INS)`)
						+pricing('900', '#modal-consult')
						
	// end sTeam


