mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда BLOOM
			+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					mixin slide(i, d, n, s, l, ...items)
						+e.slide.swiper-slide
							+e.item
								+pic(`sTeam-${i}.jpg`)
								+e.heading
									span!= d
									h5
										span!= n
										span!= s
								each item in items
									p!= item
								+e.btn(href=`#modal-team`).link-modal-js
									+icon('popup')
									span Подробнее

					+slide(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+slide(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+slide(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
					+slide(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+slide(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+slide(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)

	// end sTeam