mixin team-item(i, d, n, s, l, ...items)
	+e.item
		+pic(`sTeam-${i}.jpg`)
		+e.heading
			span!= d
			h5
				span!= n
				span!= s
		each item in items
			p!= item
		+e.btn(href=`#modal-team`).link-modal-js
			+icon('popup')
			span Подробнее
		block
	
mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда BLOOM
			+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					+e.slide.swiper-slide
						+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team-1`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+e.slide.swiper-slide
						+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team-1`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+e.slide.swiper-slide
						+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team-1`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
					+e.slide.swiper-slide
						+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team-1`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
					+e.slide.swiper-slide
						+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team-1`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
					+e.slide.swiper-slide
						+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team-1`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)

	// end sTeam


mixin sTeam5(data)
	// start sTeam
	+b.sTeam--page.section#sTeam&attributes(attributes)
		.container 
			.row
				+e.col.col-md-6
					+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team-1`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
				+e.col.col-md-6
					+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team-1`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
				+e.col.col-md-6
					+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team-1`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
				+e.col.col-md-6
					+team-item(1, `Гинеколог`, `Анна`, `Грикевич`, `modal-team-1`, `Основательница платформы, специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна`, `Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности опорно-двигательного аппарата.`)
				+e.col.col-md-6
					+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team-1`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
				+e.col.col-md-6
					+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team-1`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
				+e.col.col-md-6
					+team-item(2, `Психотерапевт`, `Даниил`, `Маркарьян`, `modal-team-1`, `Кандидат медицинских наук. Колопроктолог, онколог, хирург старший научный сотрудник отдела хирургии МНОЦ. Стаж работы 15&nbsp;лет`, `Колопроктология, онкоколопроктология, эстетическая хирургия промежности.`)
				+e.col.col-md-6
					+team-item(3, `Сексолог`, `Татьяна`, `Коваль`, `modal-team-1`, `Врач акушер-гинеколог, врач ультразвуковой диагностики.`, `Специализируется на&nbsp;ведении нормальной и&nbsp;патологической беременности, диагностике и&nbsp;лечении гинекологической патологии, инфекций передающихся половым путем, подборе контрацепции, делает УЗ-диагностику.`)
	// end sTeam


